* {
  box-sizing: border-box;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-text {
  text-align: center;
  margin: 0;
  padding-top: 2rem;
  min-height: calc(100vh - 80px);
}

.light-mode {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark-element {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.shadow {
  box-shadow: 0 0 8px 2px hsl(0, 0%, 82%);
}
